<h1>New Recipe</h1>

<%= form_for @recipe do |f| %>
<%= f.label :name %>
<%= f.text_field :name %><br>

<%= f.label :user %>
<%= f.collection_select :user_id, User.all, :id, :name %><br>

<%= f.submit %>
<% end %>